@import 'variables.scss';

.App {
}

.main {
  padding: 50px 50px 50px 360px;
}

.right-side {
  width: 100%;
}

.block {
  display: block;
}

.none {
  display: none;
}

.sidebar-imitation {
  background-color: $primary-background;
  height: 200vh;
  width: 400px;
  padding: 30px 30px 30px 50px;
  background-color: red;
}

.success-color {
  color: $success-color !important;
}

.submit-form-button {
  background-color: $primary-color;
  padding: 10px 30px;
  font-size: 18px;
  color: $primary-text;
  font-weight: bold;
  border-radius: 5px;
}

.section-title {
  color: $primary-color;
  margin-bottom: 25px;
}

.add-new-button {
  background-color: $primary-background-light;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $secondary-color;
  //   flex: 1;
}

.small-title {
  font-size: 16px;
  font-weight: bold;
}

.card {
  width: 500px;
  border-radius: 10px;
  background-color: $primary-background-dark;
  z-index: 100;
}

.tag {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  background-color: $primary-light-color;
  font-size: 14px;
  font-weight: bold;
}

.section {
  border-radius: 5px;
  margin: 35px 0;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width: 766px) {
  .main {
    padding: 30px;
  }
}
