@import './variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--disabled {
  background-color: $muted !important;
}

.button--muted {
  color: gray !important;
}
