.container {
  max-width: 1344px;
  margin: 0 auto;
}

.form-container {
  display: block;
  max-width: 764px;
}

.center {
  margin: 0 auto;
}

.input-group {
  margin: 0 0 50px 0;
}

.sub-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
