@import './variables.scss';

.dropdown-menu {
  position: relative;
  z-index: 100;
}

.dropdown-body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 766px) {
  .dropdown-menu {
  }
}
