@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

:root {
  --toastify-color-light: #3c3e49 !important;

  --toastify-toast-background: #3c3e49 !important;

  --toastify-text-color-dark: #3c3e49 !important;

  //Used only for colored theme
  --toastify-text-color-info: #3c3e49 !important;
  --toastify-text-color-success: #3c3e49 !important;
  --toastify-text-color-warning: #3c3e49 !important;
  --toastify-text-color-error: #3c3e49 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  content: [];
}

* {
  font-family: 'Inter', sans-serif;
  color: $primary-text;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-background-dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:active {
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

// React Datepicker styles

.react-datepicker__input-container > input {
  background-color: $primary-background !important;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;

  &:focus {
    outline: none;
    border: 1px solid $primary-color;
  }
}

.react-datepicker-ignore-onclickoutside {
  font-weight: 500;
  font-size: 14px;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: $primary-light-color !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: $primary-color !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: $primary-color !important;
}

.react-datepicker {
  background-color: $primary-background-light !important;
  color: $primary-text !important;
  border: none !important;
}

.react-datepicker__header {
  background-color: $primary-background !important;
  color: $primary-text !important;
  border: none !important;
}

.react-datepicker__today-button {
  background: $primary-color !important;
  border-top: 0px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker__current-month {
  color: $primary-text !important;
}

.react-datepicker__day-name {
  color: $primary-text !important;
}

.react-datepicker__day {
  color: $primary-text !important;
}

.recharts-tooltip-wrapper {
  border: $secondary-color;
  outline: $secondary-color;
  .recharts-default-tooltip {
    background-color: $primary-background-light !important;
  }
  .recharts-tooltip-label {
    font-size: 12px;
  }
  .recharts-tooltip-item-list {
    font-size: 12px;
  }
}
