@import './variables.scss';

.order-list__list {
  list-style-type: none;
}

.order-list__list-item {
  position: relative;
  background-color: $primary-background;
  margin-bottom: 30px;
  padding: 40px;
}

.order-list__list-item__left {
  max-height: 150px;
}

.order-list__info {
  padding: 20px 0;
}

.order-list__date {
  padding: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.order-list__info__title {
  color: $primary-color;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.order-list__list-item__orders {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in;
}

.order-list__list-item__orders.active {
  max-height: 3000px;
  overflow-x: auto;
  margin-top: 40px;
}

@media only screen and (max-width: 766px) {
  .order-list__list-item {
    flex-wrap: wrap;
  }
}
