@import './variables.scss';

.order-list {
}

.order-list__list {
  list-style-type: none;
}

.order-list__list-item {
  position: relative;
  display: flex;
  background-color: $primary-background;
  margin-bottom: 30px;
  padding: 40px;
}

.order-list__list-item__left {
  flex: 1;
  border-right: 1px groove $primary-text-1;
  max-height: 150px;
}

.order-list__info {
  padding: 20px 0;
}

.order-list__date {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  background-color: $primary-light-color;
  font-size: 14px;
  font-weight: bold;
}

.order-list__info__title {
  color: $primary-color;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.order-list__info__value {
}

.order-list__list-item__right {
  flex: 2;
}

@media only screen and (max-width: 766px) {
  .order-list__list-item {
    flex-wrap: wrap;
  }
}
