@import './variables.scss';

.rdw-option-wrapper {
  background-color: $primary-text-9 !important;
  border: none !important;
}

.rdw-option-active {
  background-color: $primary-background-light !important;
}

.rdw-option-wrapper img {
}

.rdw-dropdown-wrapper {
  background-color: $primary-background-light !important;
  border: 1px solid $primary-background-dark !important;
}

.rdw-dropdown-optionwrapper {
  background-color: $primary-background-light !important;
}
