@import './variables.scss';

.sale-list {
}

.sale-list__list {
  list-style-type: none;
}

.sale-list__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $primary-background;
  margin-bottom: 30px;
  padding: 40px;
}

.sale-list__list-item__top {
  border-bottom: 1px groove $primary-text-1;
  max-height: 150px;
  display: block;
  margin-bottom: 50px;
}

.sale-list__info {
  padding: 20px 0;
}

.sale-list__date {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-light-color;
  font-size: 14px;
  font-weight: bold;
}

.sale-list__info__title {
  color: $primary-color;
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}

.sale-list__info__value {
}

.sale-list__list-item__products {
  overflow: hidden;
  max-height: 0;
  transition: max-height 200ms ease-in;
}

.sale-list__list-item__products.active {
  max-height: 3000px;
  overflow: auto;
}

.sale-list_icon-container {
  transition: transform 200ms ease-out;
  display: inline-block;
}

.sale-list_icon-container.active {
  transform: rotateX(-180deg);
}

@media only screen and (max-width: 766px) {
  .sale-list__list-item {
    flex-wrap: wrap;
  }
}
