@import './variables.scss';

.table {
  width: 100%;
  background-color: transparent;
}

.thead {
}

.tbody {
}

.tr {
}

.th {
  // border-bottom: 1px dashed $primary-text-1;
  text-align: left;
  padding: 10px 5px;
  font-size: 14px;
  color: $primary-color;
}

.td {
  padding: 10px 5px;
  font-size: 15px;
}
