@import './variables.scss';

.textbox {
  background-color: $primary-background;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  color: $primary-text;
  &:focus {
    outline: 1px solid $primary-color;
  }
}

.textbox-icon-container {
  color: $primary-text-5;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: $primary-background;
  border-radius: 3px;
  &:focus-within {
    outline: 1px solid $primary-color;
  }
}

.textbox-icon {
  padding: 5px 0;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: $primary-text;
  width: 100%;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.textbox-icon__icon {
  padding: 0 10px;
}

.full-width {
  min-width: 100%;
}

.textbox::placeholder,
.textbox-icon::placeholder {
  color: $primary-text-5;
  font-size: 14px;
}
